html, body {
    position: relative;
    height: 100%;

}


#content{
    position: relative;

}

.box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

/* .b01{
    height: 2488px;
    background: #f0f0f0;
} */



.contents img{
    display: block;
}

.contents{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    
}

.ex_img{
    position: absolute;
    top: 1464px;
    left: 50%;
    transform: translateX(-50%);
}

.ex_img img:nth-child(1){
    margin-bottom: 271px;
}

.ex_img img:nth-child(2){
    margin-bottom: 246px;
}